{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>Home page</title>
    </head>
    <body>
        <nav>
            <h1 id="title">Central Preços</h1>
            <a href="#">reports</a>
            <a href="#">favoritos</a>
            <a href="#">lista</a>
            <a href="#">sobre</a>
            <a href="#">configurações</a>
        </nav>

        <section>
            <h2>"Encontre o que procura com o menor preço e a maior qualidade"</h2>
            <input class="finder" type="text">
        </section>
    </body>
</html>
